body {
    margin: 0;
    background-image: url("images/background.jpg");
    background-size: auto;
}

h1 {
    width: 100%;
    height: 150px;
    line-height: 150px;
    text-align: center;
    margin: 0;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
}

.add-box {
    width: 50%;
    height: 40px;
    padding-left: 15px;
    border-radius: 10px;
    outline: none;
    margin-right: 15px;
}

.button {
    margin-top: auto;
    margin-bottom: auto;
    outline: none;
    border-radius: 4px;
}

.search {
    background-image: url("images/icon-search.png");
    background-size: 17px 17px;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
}

.add {
    background-image: url("images/icon-plus.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
}

.close {
    background-image: url("images/icon-close.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    margin: 0px;
}

.tick {
    background-image: url("images/icon-tick.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.grid-container {
    margin-top: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

h2 {
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

h3 {
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.completed {
    text-decoration: line-through;
}

.time {
    font-size: 12px;
}

.line {
    border-bottom: 1px solid white;
    padding: 0px;
    margin: 5px 0;
}

.task-delete {
    display: flex;
    justify-content: flex-end;
}

.task-delete button {
    margin-top: 35px;
    font-size: 13px;
    width: auto;
    height: auto;
}